.top_categori{
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 5px;

}

.single_categorie_banner{
    width: 25%;
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    justify-content: center;
}

.categorie_banner_content {
    position: absolute;
    top: -10px;
    padding: 30px 20px;
    left: 0;
}


.owl-nav-categori{
    position: absolute;
    top: 0;
    right: 49px;

}

.owl-prev-categori {
   cursor: pointer;
    width: 27px;
    height: 27px;
    border: 1px solid #ddd;
    color: #444444;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    transition: .3s;
}

.owl-next-categori {
    cursor: pointer;
    width: 27px;
    height: 27px;
    border: 1px solid #ddd;
    color: #444444;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    transition: .3s;
}

.owl-prev-categori:hover , .owl-next-categori:hover {
    background: #0d6efd;
    color: #fff;
    text-shadow: none;
}



.owl-nav-deal{
    position: absolute;
    top: 13px;
    right: 49px;
}

.owl-prev-deal{
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 49px;
    width: 27px;
    height: 27px;
    border: 1px solid #ddd;
    color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
}

.owl-next-deal{
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 9px;
    width: 27px;
    height: 27px;
    border: 1px solid #ddd;
    color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
}

.owl-prev-deal:hover, .owl-next-deal:hover {
    background: #fff;
    color: #6c757d;
}

.newsletter_area {
    /* position: absolute; */
    top: -152px;
    margin-bottom: 45px;
    width: 100%;
}

ul.nav {
    position: relative;
}

.owl-dots-popup{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.owl-dot-popup{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ddd;
    cursor: pointer;
}

.active-popup{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #2971f5;
    cursor: pointer;
}

.owl-stage-outer{
    overflow: hidden;
    position: relative;
}

.owl-stage{
    width: 900px;
    transform: translate3d(-270px, 0px, 0px);
    transition: all 0s ease 0s;
}
.owl-item{
    width: 90px;
    float: left;
}

.popup{
    background:#495057; 
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    margin-left: 3px;
}
.popup:hover{
    background:  #0d6efd;
}

.cursor-pointer-menu{
    cursor: pointer;
    background-color: #46494f;
    color: rgb(177, 170, 170);
}

.activeDashboard{
    background-color: #4b77c4;
    color: white;
}

.cursor-pointer-menu:hover{
    background-color: #4b77c4;
    color: white;
}

.text-back{
    color: #e2e0e0;
}
.text-back:hover{
    color: #fff;
    text-decoration: underline;
};

